.container-marcas {
    margin-top: 100px;
}

.marcas-title {
    text-align: center;
    color: #F71963;
}

.marcas {
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    gap: 70px;
}